.notfound {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    color: #FF6060;
}

.subtext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.container404 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.back {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin-top: 200px;
    margin-bottom: 150px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .notfound {
        font-size: 96px;
        margin-top: 10%;
    }

    .subtext {
        display: flex;
        width: 60%;
        text-align: center;
        font-size: 18px;
    }

    .back {
        color: #FF6060;
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;
        margin-top: 120px;
        margin-bottom: 90px;
        height: auto;
    }

}