.aboutcontainer {
    width: 1023px;
    margin: auto;
    font-size: 24px;
}

.aboutbanner {
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin: 0 auto;
}

.bannerdiv {
    width: 1240px;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 31px;
}

.apropos-collapse {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 31px;
}

.apropos-collapsetitle {
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
color: #FFFFFF;
margin-left: 2%;
}

.apropos-txt {
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 142.6%;
margin: 2%;
color: #FF6060;
}


@media only screen and (max-width: 600px) {
    .aboutcontainer {
        width: 100%;
        margin: 0 4% 0 4%;
    }

    .aboutmaincontainer {
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown {
        margin: 0;
    }
    .bannerdiv {
        width: 100%;
        margin: 0;
    }

    .dropdown {
        height: 35px;
    }

    .aboutbanner {
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
        margin: 0 4% 4% 4%;
        border-radius: 14px;
    }

    .apropos-collapse {
        width: 100%;
        margin: 0 4% 4% 4%;
    }

    .apropos-collapsetitle {
        font-size: 13px;
    }

    .apropos-txt {
        font-size: 12px;
    }
}