.container {
width: 100%;
border-radius: 25px;
object-fit: cover;
margin-bottom: 43px;
background-image: url('../assets/images/banner.png');
background-repeat: no-repeat;
mix-blend-mode: darken;
/* opacity: 0.3; */
height: 223px;
display: flex;
justify-content: center;
align-items: center;
width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.bannerimg {
    border-radius: 25px;
}

.bannertxt {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 142.6%;
}