.card {
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
}

.title {
    position: relative;
    /* top: 80%; */
    left: -143%;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-break: loose;
}

.logement-img {
    border-radius: 10px;
}

a {
    margin-top: 50px;
}