.carrouselpic {
    max-width: 1240px;
    border-radius: 25px;
    object-fit: cover;
}

.carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 415px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 30px;
}

.arrowback {
    margin: 10px;
}

.arrowfwd {
    margin: 10px;
}

.slidenumber {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FFFFFF;
    position: relative;
    top: 200px;
}

.arrowcontainer {
    max-width: 1240px;
    width: 94%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.numbercontainer {
    max-width: 1240px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 0px;
}