
.fiche-body {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

.title-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.tags-rating-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 35%;
}

.fiche-info-container {
    display: flex;
    justify-content: space-between;
}

.titlelocation {
    display: flex;
    flex-direction: column;
}

.host {
    display: flex;
    align-items: center;
}

.titlel {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.location, .hostname {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
color: #FF6060;
}

.hostpic {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin-left: 10px;
}

.tags {
    display: flex;
}

.star {
    margin-left: 10px;
}

.dropdown {
    display: flex;
    background: #FF6060;
    border-radius: 10px;
    width: 100%;
    height: 52px;
    align-items: center;
    justify-content: space-between;

}

.dropdowntitlecontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    position: relative;
    top: 10px;
}

.dropdowntitle {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
color: #FFFFFF;
margin-left: 4%;
}

.dropdowngrey {
    background: #F7F7F7;
border-radius: 10px;
height: auto;
width: 100%;

}

.dropdowngreycontainer {
    display: flex;
    justify-content: space-between;
    
}

.dropdowntxt {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.6%;
margin-left: 4%;
margin-right: 4%;
margin-top: 2%;
margin-bottom: 2%;
color: #FF6060;
}

li {
    list-style: none;
    padding: 0;
}

.collapsearrow {
    padding-right: 20px;
}

.collapsecontainer {
    display: flex;
    width: 45%;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 31px;
}

@media only screen and (max-width: 600px) {
    .fiche-body {
        width: 100%;
    }

        .carrouselpic {
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }
        
        .carrousel {
            display: flex;
            align-items: center;
            width: 92%;
            height: 255px;
            margin: 0 4% 3% 4%;
            border-radius: 25px;
            object-fit: cover;
            overflow: hidden;
            
        }
        
        .arrowback {
            margin: 10px;
        }
        
        .arrowfwd {
            margin: 10px;
        }
        
        .slidenumber {
            font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        color: #FFFFFF;
        }
        
        .arrowcontainer {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
        }
        
        .numbercontainer {
            width: 100%;
            position: absolute;
            top: 547px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .title-container, .tags-rating-container, .dropdowntitlecontainer {
            margin: 0 4% 0 4%;
        }

        .tags-rating-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: auto;
        }

        .rating {
            margin: 2% 0 2% 0;
        }

        /* .host {
            
        } */

        .star {
            width: 15px;
        }

        .titlel {
            font-size: 18px;
        }

        .location {
            font-size: 14px;
        }

        .hostname, .dropdowntxt {
            font-size: 12px;
        }

        .hostname {
            min-width: 65px;
            text-align: end;
        }

        .dropdowntitle {
            font-size: 13px;
            
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
        }

        .tagtext {
            font-size: 10px;
        }

        .tagcontainer {
            border-radius: 5px;
            min-width: 67px;
        }

        .hostpic {
            width: 32px;
            height: 32px;
        }

        .dropdown {
            border-radius: 5px;
            height: 31px;
        }

        .collapsearrow {
            width: 15px;
            padding-right: 4%;
        }

        .arrowback, .arrowfwd {
            width: 11px;
        }

        .arrowcontainer {
            width: 92%;
        }

        .numbercontainer {
            display: none;
        }

        .dropdowntitlecontainer {
            flex-direction: column;
        }

        .collapsecontainer {
            width: 100%;
            margin-bottom: 2%;
        }

        .fiche-info-container {
            display:block;
        }

        .tags-rating-container {
            flex-direction: row-reverse;
            align-items: center;
        }
}