.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 171px;
    max-width: 1240px;
    margin: auto;
}

.navlink {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    padding: 15px;
    color: #FF6060;
}

a {
    text-decoration: none;
    margin-top: 0;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .header {
        max-width: 92%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 4% 0 3% 4%;
        max-height: 70px;
    }

    .navlink {
        min-width: 70px;
        font-size: 12px;
        text-align: center;
        padding: 0;
        line-height: 100%;
    }

    .navlink-txt {
        text-transform: uppercase;
    }

    .headerimg {
        width: 40%;
    }
}