.portfolio {
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
    width: 1240px;
  margin: auto;
}