.portfolio {
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
    width: 1240px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .portfolio {
    width: 100%;
    background: white;
    display: flex;
    flex-basis: 100%;
  }
}