.tagcontainer {
    background: #FF6060;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    min-width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagtext {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    text-align: center;
    margin-right:10px;
    margin-left:10px;
    color: #FFFFFF;
}